<template>
  <div id="filters">
    <div :class="['dropdown', {'is-active': filtersActive}]">
      <div class="dropdown-trigger">
        <button class="button is-size-7" aria-haspopup="true" aria-controls="dropdown-menu" @click="updateFiltersView">
          <span>Filtres</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item dropdown-item-title is-size-7">Liens</div>
          <div class="dropdown-item is-size-7 is-flex link">
            <div class="dropdown-label">Organisations</div>
            <div class="is-pulled-right">
              <toggle-button
                v-model="showOrgLinks"
                @change="updateFilterValues"
                :value="false"
                :labels="true"
                :sync="true"
                :switchColor="'#fff'" :color="{checked: '#aaa', unchecked: '#ddd'}"
                :height="18"/>
            </div>
          </div>
          <div class="dropdown-item is-size-7 is-flex link">
            <div class="dropdown-label">Filiales</div>
            <div class="is-pulled-right">
              <toggle-button
                v-model="showSubLinks"
                @change="updateFilterValues"
                :value="false"
                :labels="true"
                :sync="true"
                :switchColor="'#fff'" :color="{checked: '#b2c9d4', unchecked: '#ddd'}"
                :height="18"/>
            </div>
          </div>
          <div class="dropdown-item is-size-7 is-flex link">
            <div class="dropdown-label">Opportunités</div>
            <div class="is-pulled-right">
              <toggle-button
                v-model="showOppLinks"
                @change="updateFilterValues"
                :value="false"
                :labels="true"
                :sync="true"
                :switchColor="'#fff'" :color="{checked: '#afe0b7', unchecked: '#ddd'}"
                :height="18"/>
            </div>
          </div>
          <div class="dropdown-item is-size-7 is-flex link">
            <div class="dropdown-label">Partenariats</div>
            <div class="is-pulled-right">
              <toggle-button
                v-model="showPartLinks"
                @change="updateFilterValues"
                :value="false"
                :labels="true"
                :sync="true"
                :switchColor="'#fff'" :color="{checked: '#f7a8a8', unchecked: '#ddd'}"
                :height="18"/>
            </div>
          </div>
          <div class="dropdown-item is-size-7 is-flex link">
            <div class="dropdown-label">Réferents</div>
            <div class="is-pulled-right">
              <toggle-button
                v-model="showRefLinks"
                @change="updateFilterValues"
                :value="false"
                :labels="true"
                :sync="true"
                :switchColor="'#fff'" :color="{checked: '#f7de97', unchecked: '#ddd'}"
                :height="18"/>
            </div>
          </div>
          <div class="dropdown-item is-size-7 is-flex node">
            <div class="">
              <toggle-button
                v-model="showLinkedNodes"
                @change="updateFilterValues"
                :value="false"
                :labels="true"
                :sync="true"
                :switchColor="'#fff'" :color="{checked: '#5297ca', unchecked: '#ddd'}"
                :height="18"/>
            </div>
             <div class="dropdown-label">Filtrer sur les liens sur noeuds selectionnés</div>
          </div>
          <div class="dropdown-item is-size-7 is-flex node">
            <div class="">
              <toggle-button
                v-model="showSelectedNodes"
                @change="updateFilterValues"
                :value="false"
                :labels="true"
                :sync="true"
                :switchColor="'#fff'" :color="{checked: '#5297ca', unchecked: '#ddd'}"
                :height="18"/>
            </div>
             <div class="dropdown-label">Filtrer sur les liens entre noeuds selectionnés</div>
          </div>
          <div class="dropdown-item dropdown-item-title is-size-7">Noeuds</div>
           <!-- <div class="dropdown-item is-size-7 is-flex node">
            <input class="input is-small" v-model="filterOnName" @input="updateFilterName" type="text" placeholder="Filter on names...">
          </div> -->
          <div class="dropdown-item is-size-7 is-flex node">
            <div class="">
              <toggle-button
                v-model="showAllNodes"
                @change="updateFilterValues"
                :value="false"
                :labels="true"
                :sync="true"
                :switchColor="'#fff'" :color="{checked: '#5297ca', unchecked: '#ddd'}"
                :height="18"/>
            </div>
             <div class="dropdown-label">Afficher les noeuds non reliés</div>
          </div>

          <div class="dropdown-item dropdown-item-title is-size-7">Groupes</div>
           <!-- <div class="dropdown-item is-size-7 is-flex node">
            <input class="input is-small" v-model="filterOnName" @input="updateFilterName" type="text" placeholder="Filter on names...">
          </div> -->
          <div class="dropdown-item is-size-7 is-flex node">
            <div class="">
              <toggle-button
                v-model="showOrgGroups"
                @change="updateFilterValues"
                :value="false"
                :labels="true"
                :sync="true"
                :switchColor="'#fff'" :color="{checked: '#5297ca', unchecked: '#ddd'}"
                :height="18"/>
            </div>
             <div class="dropdown-label">Afficher les groupes d'organisation</div>
          </div>
          <div class="dropdown-item is-size-7 is-flex node">
            <div class="">
              <toggle-button
                v-model="showRefGroups"
                @change="updateFilterValues"
                :value="false"
                :labels="true"
                :sync="true"
                :switchColor="'#fff'" :color="{checked: '#5297ca', unchecked: '#ddd'}"
                :height="18"/>
            </div>
             <div class="dropdown-label">Afficher les groupes référents</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import EventBus from '../event-bus.js'

export default {
  name: 'Filters-editor',
  data () {
    return {
      filtersActive: false,
      showOrgLinks: true,
      showSubLinks: true,
      showOppLinks: true,
      showPartLinks: true,
      showRefLinks: true,
      showAllNodes: false,
      showLinkedNodes: false,
      showSelectedNodes: true,
      showOrgGroups: true,
      showRefGroups: true,
      filterOnName: '',
      timeout: null
    }
  },
  mounted () {
    let vm = this
    EventBus.$on('filterLoaded', function (payload) {
      if (payload) {
        if (payload.links) {
          vm.showOrgLinks = payload.links.org
          vm.showSubLinks = payload.links.filiale
          vm.showOppLinks = payload.links.opp
          vm.showPartLinks = payload.links.oppPart
          vm.showRefLinks = payload.links.ref
        }
        if (payload.nodes) {
          vm.showAllNodes = payload.nodes.all
          vm.showLinkedNodes = payload.nodes.linked
          vm.showSelectedNodes = payload.nodes.selected
          vm.filterOnName = payload.nodes.filter
        }
        if (payload.groups) {
          vm.showOrgGroups = payload.groups.orgs
          vm.showRefGroups = payload.groups.refs
        }
      }
      vm.$forceUpdate()
      vm.$nextTick(() => {
        vm.updateFilterValues()
      })
      // vm.filters = payload
      // vm.updateData(payload)
    })
    vm.$nextTick(() => { vm.updateFilterValues() })
  },
  methods: {
    updateFiltersView () {
      this.filtersActive = !this.filtersActive
    },
    updateFilterName () {
      let vm = this
      clearTimeout(vm.timeout)
      vm.timeout = setTimeout(function () {
        vm.updateFilterValues()
      }, 500)
    },
    updateFilterValues () {
      let vm = this

      EventBus.$emit('filterChanged', {
        links: {
          org: vm.showOrgLinks,
          filiale: vm.showSubLinks,
          opp: vm.showOppLinks,
          oppPart: vm.showPartLinks,
          ref: vm.showRefLinks
        },
        nodes: {
          all: vm.showAllNodes,
          linked: vm.showLinkedNodes,
          selected: vm.showSelectedNodes,
          filter: vm.filterOnName
        },
        groups: {
          orgs: vm.showOrgGroups,
          refs: vm.showRefGroups
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
#filters {
  position: absolute;
  top: 10px;
  left: 10px;

  .button {
    border-color: #666;
  }

  .dropdown-content {
    width: 400px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
  }

  .dropdown-divider {
    background-color: #f1f1f1;
  }

  .dropdown-item-title {
    font-weight: bold;
    border-bottom: 1px solid #cacaca;
  }

  .dropdown-item.link {
    justify-content: flex-end;
    .dropdown-label {
      margin-right: 10px;
    }
  }

  .dropdown-item.node {
    justify-content: flex-start;
    .dropdown-label {
      margin-left: 10px;
    }
  }
}
</style>
