<template>
  <div id="network"><svg></svg></div>
</template>
<script>

import * as d3 from 'd3'
import * as d3forceReuse from 'd3-force-reuse'
import EventBus from '../event-bus.js'

export default {
  name: 'Network-view',
  props: ['data', 'height', 'width'],
  data () {
    return {
      simulation: null,
      timeout: null
    }
  },
  mounted () {
    if (this.data) {
      this.updateForceGraph()
    }
  },
  watch: {
    data (val, oldVal) {
      if (val) {
        this.updateForceGraph()
      }
    },
    height (newVal, oldVal) {
      if (this.data) {
        this.updateForceGraph()
      }
    },
    width (newVal, oldVal) {
      if (this.data) {
        this.updateForceGraph()
      }
    }
  },
  methods: {
    updateForceGraph () {
      let vm = this

      const svg = d3.select('#network svg')
        .attr('width', vm.width)
        .attr('height', vm.height)
      svg.selectAll('*').remove()

      // const color = d3.scaleOrdinal(d3.schemePastel2)
      const scaleFactor = 1.1
      let polygon
      let centroid

      let force = d3forceReuse.forceManyBodyReuse()
      force.strength(-300)

      vm.simulation = d3.forceSimulation().velocityDecay(0.1)
        .force('link', d3.forceLink().id(function (d) { return d.id })
          .distance(function (l, i) {
            if (l.source.groupe && l.target.groupe && l.source.groupe === l.target.groupe) {
              return 50
            } else if (l.type === 'ref') {
              return 250
            }
            return 100
          })
          .strength(function (d) {
            if (d.type === 'org') {
              return 0.1
            }
            return 0.05
          }))
        .force('charge', force)
        // .force('charge', d3.forceManyBody().strength(-300))
        .force('collide', d3.forceCollide().radius(0))
        // .force('center', d3.forceCenter(vm.width / 2, vm.height / 2))
        .force('x', d3.forceX().strength(0.02).x(vm.width / 2))
        .force('y', d3.forceY().strength(0.04).y(vm.height / 2))
        // .force('alpha', 0.1)

      // build the arrow.
      svg.append('svg:defs').selectAll('marker')
        .data(['org', 'filiale', 'opp', 'oppPart', 'ref']) // Different link/path types can be defined here
        .enter().append('svg:marker') // This section adds in the arrows
        .attr('id', String)
        .attr('viewBox', '0 -5 10 10')
        .attr('refX', 13)
        .attr('refY', 0)
        .attr('markerWidth', function (d) {
          return (d === 'org' || d === 'filiale') ? 3 : 3
        })
        .attr('markerHeight', function (d) {
          return (d === 'org' || d === 'filiale') ? 3 : 3
        })
        .attr('orient', 'auto')
        .append('svg:path')
        .attr('d', 'M0,-5L10,0L0,5')

      // add zoom capabilities
      let zoomHandler = d3.zoom().on('zoom', zoomActions)
      zoomHandler(svg)
      // d3.select('svg').on('dblclick.zoom', null)

      // add encompassing group for the zoom
      let g = svg.append('g')
        .attr('class', 'everything')

      let groups = g.append('g').attr('class', 'groups')

      let link = g.append('g')
        .attr('class', 'links')
        .selectAll('path')
        .data(vm.data.links)
        .enter().append('svg:path')
        .attr('class', function (d) { return 'link ' + d.type })
        .attr('marker-end', function (d) { return 'url(#' + d.type + ')' })
        .attr('stroke-width', function (d) {
          if (d.type === 'opp' || d.type === 'oppPart') {
            return d.potential / 2 || 1
          }
          return 1
        })
        .attr('stroke-dasharray', '')

      let node = g.append('g')
        .attr('class', 'nodes')
        .selectAll('g')
        .data(vm.data.nodes)
        .enter().append('g')
        .style('transform-origin', '50% 50%')
        .call(d3.drag()
          .on('start', vm.dragstarted)
          .on('drag', vm.dragged)
          .on('end', vm.dragended))

      node.append('circle')
        .attr('class', function (d) { return (d.fixed ? 'fixed ' : ' ') + (d.selected ? 'selected ' : ' ') + (vm.data.selectedNodes.length === vm.data.nodes.length ? 'filtered' : '') })
        .attr('r', function (d) { return Math.max(4, (d.weight ? d.weight : 0)) })
        .attr('fill', function (d) {
          if (d.role === 'producteur') return '#61b75a'
          if (d.role === 'centre de competences' || d.role === 'emetteur' || d.role === 'fonction support') return '#993ec1'
          if (d.role === 'intermediaire') return '#76aad8'
          if (d.role === 'utilisateur' || d.role === 'souscripteur') return '#d2ac00'
          if (d.type === 'referent') return '#d8d846'
          return '#6e86b9'
        })
        .on('mouseover', mouseOver)
        .on('mouseout', mouseOut)
        .on('dblclick', dblclick)
        .on('click', delayedClick)

      node.append('text')
        .attr('dx', 8)
        .attr('y', '.31em')
        .attr('class', 'shadow')
        .text(function (d) {
          return d.nom
        })

      node.append('text')
        .attr('x', 8)
        .attr('y', '.31em')
        .text(function (d) {
          return d.nom
        })

      updateOpacity()

      // Organisation groups ----------------------------
      let groupIds = []
      let groupOrder = [ 'departement', 'direction', 'filiale', 'groupe' ]
      if (vm.data && vm.data.groups && vm.data.groups.orgs) {
        groupIds = d3.set(vm.data.nodes.map(function (n) { return n.type }))
          .values()
          .map(function (groupId) {
            return {
              groupId: groupId,
              type: 'type',
              count: vm.data.nodes.filter(function (n) { return (groupOrder.indexOf(n.type) >= 0 && groupOrder.indexOf(n.type) <= groupOrder.indexOf(groupId)) }).length
            }
          })
          .filter(function (group) { return group.count > 2 && group.groupId !== 'externe' && group.groupId !== 'referent' })
          .map(function (group) { return group.groupId })
      }

      // Referent groups ---------------------------------
      let referentGroupIds = []
      if (vm.data && vm.data.groups && vm.data.groups.refs) {
        referentGroupIds = d3.set(vm.data.nodes.map(function (n) { return (n.type === 'referent' ? n.id : '') }))
          .values()
          .map(function (groupId) {
            return {
              groupId: groupId,
              type: 'referent',
              count: vm.data.nodes.filter(function (n) {
                return (n.refs && n.refs.indexOf(groupId) >= 0) || n.id === groupId
              }).length
            }
          })
          .filter(function (group) { return group.count > 2 && group.groupId !== '' })
          .map(function (group) { return group.groupId })
      }

      let paths = groups.selectAll('.group')
        .data([...groupIds, ...referentGroupIds], function (d) { return +d })
        .enter()
        .append('g')
        .attr('class', function (d) { return 'group ' + (groupIds.indexOf(d) >= 0 ? 'org' : 'ref') })
        .append('path')
        .attr('opacity', 0)

      paths
        .transition()
        .duration(2000)
        .attr('opacity', 1)

      vm.simulation
        .nodes(vm.data.nodes)
        .on('tick', ticked)

      vm.simulation.force('link')
        .links(vm.data.links)

      function ticked () {
        link.attr('d', function (d) {
          // let dx = d.target.x - d.source.x
          // let dy = d.target.y - d.source.y
          // let dr = (d.type === 'ref' || d.type === 'oppart') ? 0 : Math.sqrt(dx * dx + dy * dy)
          let dr = 0
          return 'M' +
            d.source.x + ',' +
            d.source.y + 'A' +
            dr + ',' + dr + ' 0 0,1 ' +
            d.target.x + ',' +
            d.target.y
        })
        node.attr('transform', function (d) {
          return 'translate(' + d.x + ',' + d.y + ')'
        })
        updateGroups()
      }

      // select nodes of the group, retrieve its positions
      // and return the convex hull of the specified points
      // (3 points as minimum, otherwise returns null)
      let polygonGenerator = function (groupId) {
        let nodeCoords = node
          .filter(function (n) {
            if (groupIds.indexOf(groupId) >= 0) {
              return (groupOrder.indexOf(n.type) >= 0 && groupOrder.indexOf(n.type) <= groupOrder.indexOf(groupId))
            } else {
              return (n.refs && n.refs.indexOf(groupId) >= 0) || (n.id === groupId)
            }
          })
          .data()
          .map(function (d) { return [d.x, d.y] })
        return d3.polygonHull(nodeCoords)
      }

      let valueline = d3.line()
        .x(function (d) { return d[0] })
        .y(function (d) { return d[1] })
        .curve(d3.curveCatmullRomClosed)

      function updateGroups () {
        [...groupIds, ...referentGroupIds].forEach(function (groupId) {
          var path = paths.filter(function (d) { return d === groupId })
            .attr('transform', 'scale(1) translate(0,0)')
            .attr('class', groupId)
            .attr('d', function (d) {
              polygon = polygonGenerator(d)
              centroid = d3.polygonCentroid(polygon)

              // to scale the shape properly around its points:
              // move the 'g' element to the centroid point, translate
              // all the path around the center of the 'g' and then
              // we can scale the 'g' element properly
              return valueline(
                polygon.map(function (point) {
                  return [point[0] - centroid[0], point[1] - centroid[1]]
                })
              )
            })
          d3.select(path.node().parentNode).attr('transform', 'translate(' + centroid[0] + ',' + (centroid[1]) + ') scale(' + scaleFactor + ')')
        })
      }

      // Zoom functions
      function zoomActions () {
        g.attr('transform', d3.event.transform)
      }

      function updateOpacity (n) {
        node.attr('fill-opacity', function (d) {
          if (vm.data.selectedNodes.length === 0 || d === n) {
            return 1
          } else {
            return vm.data.selectedNodes.indexOf(d) >= 0 ? 1 : 0.6
          }
        })
        link.style('stroke-opacity', function (l) {
          if (l.source === n || l.target === n) {
            return 1
          } else if (vm.data.selectedNodes.length === 0) {
            return 0.3
          } else if (vm.data.selectedNodes.indexOf(l.source) >= 0 || vm.data.selectedNodes.indexOf(l.target) >= 0) {
            return 1
          }
          return 0.1
        })
      }

      function mouseOver (d) {
        updateOpacity(d)
      }

      function mouseOut (d) {
        updateOpacity()
      }

      function dblclick (d) {
        d3.event.stopPropagation()
        clearTimeout(vm.timeout)
        let sel = d3.select(this)

        sel.classed('fixed', d.fixed = !sel.classed('fixed'))
        if (sel.classed('fixed')) {
          d.fx = d.x
          d.fy = d.y
        } else {
          d.fx = null
          d.fy = null
        }

        // let sel = d3.select(this)
        // sel.classed('selected', d.selected = !sel.classed('selected'))
        // if (sel.classed('selected')) {
        //   vm.data.selectedNodes.push(d)
        //   vm.$toaster.success(d.nom + ' added')
        // } else {
        //   vm.data.selectedNodes.splice(vm.data.selectedNodes.indexOf(d), 1)
        //   vm.$toaster.warning(d.nom + ' removed')
        // }
      }

      function delayedClick (d) {
        let d3obj = d3.select(this)
        clearTimeout(vm.timeout)
        vm.timeout = setTimeout(function () {
          click(d, d3obj)
        }, 300)
      }

      function click (d, d3obj) {
        let col = d3obj.attr('fill')
        d3obj.transition()
          .duration(100)
          .attr('fill', '#fd6464').transition()
          .duration(300)
          .attr('fill', col)

        if (vm.data.selectedNodes.indexOf(d) >= 0) {
          vm.data.selectedNodes.splice(vm.data.selectedNodes.indexOf(d), 1)
        } else {
          vm.data.selectedNodes.push(d)
        }
        updateOpacity(d)
        EventBus.$emit('dataChanged', vm.data)
      }
    },
    dragstarted (d) {
      if (!d3.event.active) this.simulation.alphaTarget(0.3).restart()
      d.fx = d.x
      d.fy = d.y
    },
    dragged (d) {
      d.fx = d3.event.x
      d.fy = d3.event.y
    },
    dragended (d) {
      if (!d3.event.active) this.simulation.alphaTarget(0)
      if (!d.fixed) {
        d.fx = null
        d.fy = null
      }
    }
  }
}
</script>

<style lang="scss">

/*svg {
  -webkit-transform: perspective(300px) rotateY(-10deg);
 transform: perspective(300px) rotateY(-10deg);
}*/

.nodes {
    stroke: #fff;
    // stroke-width: 1px;
}

circle.selected:not(.filtered) {
    fill: #fd6464;
}

circle.fixed {
    stroke: #ff4747;
    stroke-width: 6px;
    stroke-opacity: 0.3;
}

.nodes text {
    font: 10px sans-serif;
    fill: #000;
    stroke-width: 0;
    pointer-events: none;
}

.nodes text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
}

.links {
  fill: none;
  // stroke-opacity: 0.3;
  // fill-opacity: 0.3;
}

.link.org {
    stroke-width: 4px;
    stroke: #bbb;
}

#org {
    fill: #bbb;
    fill-opacity: 0.5;
}

.link.filiale {
    stroke-width: 4px;
    stroke: #7fa6ce;
}

#filiale {
    fill: #7fa6ce;
    fill-opacity: 0.5;
}

.link.opp {
    stroke: #0e8a28;
}

#opp {
    fill: #0e8a28;
    fill-opacity: 0.5;
}

.link.oppPart {
    stroke: #e22020;
}

#oppPart {
    fill: #e22020;
    fill-opacity: 0.5;
}

.link.ref {
    stroke: #ffc200;
}

#ref {
    fill: #ebd079;
    fill-opacity: 0.5;
}

.group.org path {
  stroke-width: 3px;
  stroke-opacity: .5;
}

.group.org path.direction {
  stroke: #314f65;
  fill: #314f65;
  fill-opacity: .06;
}

.group.org path.filiale {
  stroke: #78aec7;
  fill: #78aec7;
  fill-opacity: .05;
}

.group.org path.groupe {
  stroke: #a6e3f5;
  fill: #a6e3f5;
  fill-opacity: .04;
}

.group.ref path {
  fill-opacity: .3;
  fill: #f7e18b;
}

</style>
