<template>
  <div id="stateManager">
    <font-awesome-icon @click.stop="dialog=true" icon="laptop-code"/>
    <v-bottom-sheet v-model="dialog" full-width dark>
      <v-card class="stateDialog" dark>
        <v-card-title class="headline">Mes états
          <v-spacer></v-spacer>
          <font-awesome-icon icon="save"/>
          <v-text-field v-on:keyup.13="saveState" v-model="currentStateName"/>
        </v-card-title>
        <v-card-text id="stateList">
          <v-badge v-for="state in states" :key="state.name">
            <font-awesome-icon slot="badge" @click.stop="deleteState(state.name)" icon="trash"/>
            <span class="loadState" @click="loadState(state.name)">{{state.name}}</span>
          </v-badge>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>
<script>

import EventBus from '../event-bus.js'

export default {
  name: 'StateManager',
  props: ['filters', 'data'],
  data () {
    return {
      dialog: false,
      states: [],
      currentStateName: null,
      selectedStateName: null,
      selectedNodes: []
    }
  },
  mounted () {
    let vm = this
    vm.listStates()
    EventBus.$on('dataChanged', function (payload) {
      vm.selectedNodes = []
      if (payload && payload.selectedNodes) {
        for (let node of payload.selectedNodes) {
          vm.selectedNodes.push(node.id)
        }
      }
    })
  },
  methods: {
    listStates () {
      let vm = this
      if (!window.localStorage['relationships.explorer.states']) {
        window.localStorage['relationships.explorer.states'] = '{}'
      }
      vm.states = JSON.parse(window.localStorage['relationships.explorer.states'])
    },
    loadState (name) {
      let vm = this
      EventBus.$emit('filterLoaded', vm.states[name].filters)
      EventBus.$emit('selectedNodesLoaded', vm.states[name].selectedNodes)
    },
    deleteState (name) {
      let vm = this
      let updatedStates = {}
      for (let key in vm.states) {
        if (key !== name) {
          updatedStates[key] = vm.states[key]
        }
      }
      vm.states = updatedStates
      window.localStorage['relationships.explorer.states'] = JSON.stringify(vm.states)
      vm.$toaster.success('état ' + name + ' effacé.')
    },
    saveState () {
      let vm = this
      let sel = []
      if (vm.data && vm.data.selectedNodes) {
        for (let node of vm.data.selectedNodes) {
          console.log(node)
          sel.push(node.id)
        }
      }

      let state = {
        name: vm.currentStateName,
        selectedNodes: sel,
        filters: vm.filters
      }
      vm.states[state.name] = state
      window.localStorage['relationships.explorer.states'] = JSON.stringify(vm.states)
      vm.$toaster.success('état ' + this.currentStateName + ' sauvegardé.')
      this.currentStateName = null
    }
  }
}
</script>

<style lang="scss">
  #stateManager {
    position: absolute;
    top: 8px;
    left: 85px;
    font-size: 20px;

    svg {
      color: #3d78a5;
      &:hover {
        cursor: pointer;
        color: #d63434 !important;
      }
    }
  }

  .stateDialog {
    background-color: black;
    .headline {
      font-weight: 200;
      color: white;
      background-color: #333333;
      padding: 0px 16px !important;

      svg {
        padding-right: 5px;
      }
      .v-input {
        max-width: 300px;
        color: whitesmoke;
      }
    }
  }

  #stateList {
    .v-badge {
      margin-right: 30px;
      background-color: #616161;
      padding: 2px 6px;
      border-radius: 4px;
      font-size: 8px;

      .loadState {
        font-size: 12px;
        &:hover {
          cursor: pointer;
          color: darkgray;
        }
      }
    }

    .v-badge__badge {
      background-color: #3d78a5 !important;
      &:hover {
        cursor: pointer;
        background-color: #d44747 !important;
      }
    }
  }
</style>
