@import '~bulma/bulma';

$main-bg-color: #919890;
#app {

    width: 100%;
    // -webkit-filter: sepia(10%);
}

.header {
    height: 8%;
    background: #323232;
    width: 100%;
    border-bottom: 2px solid #919890;
    .icon {
        // background-image: url(../assets/icon/bancs-logo-normal.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 25%;
        float: left;
        height: 40%;
        top: 30%;
        position: relative;
        left: 2%;
    }
}
