<template>
  <v-app>
  <div id="app" :style="{ height: height + 'px' }">
    <div v-if="!isLoaded" id="spinner" class="columns is-vcentered">
      <div class="column is-half"></div>
      <div class="column">
        <semipolar-spinner
          :animation-duration="2000"
          :size="65"
          color="#ff1d5e"
        />
        <div class="spinner-title">Relationships Explorer</div>
      </div>
    </div>
    <network-view v-if="isLoaded"
      :data='data'
      :height='height'
      :width='width'/>
    <filters-editor v-if="isLoaded"></filters-editor>
    <state-manager v-if="isLoaded" :filters='filters' :data='data'></state-manager>

    <v-dialog v-model="searchDialog" :width="searchNode? '1300px':'500px'" hide-overlay light>
      <v-layout row class="searchDialog">

        <v-flex v-if="searchNode" class="sourceResults">
          <v-card-title class="source">Sources</v-card-title>
           <v-list two-line>
              <template v-for="(r, index) in sourceNodes">
                <v-list-tile :key="'source-' +r.nom" @click="setSearchNode(r)" :class="{'selected': r === searchNode }">
                  <v-list-tile-content>
                    <v-list-tile-title v-html="r.nom"></v-list-tile-title>
                    <v-list-tile-sub-title><span :class="['type', r.type]">{{r.type}}</span> - <span :class="['role', r.role]">{{r.role}}</span></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action class="selectNode">
                    <font-awesome-icon v-if="!isSelected(r.nom)" class="notSelected" @click.stop="changeNodeSelection(r)" icon="circle"/>
                    <font-awesome-icon v-if="isSelected(r.nom)" class="selected" @click.stop="changeNodeSelection(r)" icon="check-circle"/>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < sourceNodes.length" :key="`divider-${index}`"></v-divider>
              </template>
            </v-list>
        </v-flex>

        <v-card class="searchCard">
          <v-card-title class="headline">
            <v-text-field ref="txt" v-model="searchString"></v-text-field>
          </v-card-title>
          <v-flex class="searchResult">
            <v-list two-line>
              <template v-for="(r, index) in result">
                <v-list-tile :key="r.nom" @click="setSearchNode(r)" :class="{'selected': r === searchNode }">
                  <v-list-tile-content>
                    <v-list-tile-title v-html="r.nom"></v-list-tile-title>
                    <v-list-tile-sub-title><span :class="['type', r.type]">{{r.type}}</span> - <span :class="['role', r.role]">{{r.role}}</span></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action class="selectNode">
                    <font-awesome-icon v-if="!isSelected(r.nom)" class="notSelected" @click.stop="changeNodeSelection(r)" icon="circle"/>
                    <font-awesome-icon v-if="isSelected(r.nom)" class="selected" @click.stop="changeNodeSelection(r)" icon="check-circle"/>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < result.length" :key="`divider-${index}`"></v-divider>
              </template>
            </v-list>
          </v-flex>
        </v-card>

        <v-flex v-if="searchNode" class="targetResults">
          <v-card-title class="target">Cibles</v-card-title>
          <v-list two-line>
            <template v-for="(r, index) in targetNodes">
              <v-list-tile :key="'target-' +r.nom" @click="setSearchNode(r)" :class="{'selected': r === searchNode }">
                <v-list-tile-content>
                  <v-list-tile-title v-html="r.nom"></v-list-tile-title>
                  <v-list-tile-sub-title><span :class="['type', r.type]">{{r.type}}</span> - <span :class="['role', r.role]">{{r.role}}</span></v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action class="selectNode">
                  <font-awesome-icon v-if="!isSelected(r.nom)" class="notSelected" @click.stop="changeNodeSelection(r)" icon="circle"/>
                  <font-awesome-icon v-if="isSelected(r.nom)" class="selected" @click.stop="changeNodeSelection(r)" icon="check-circle"/>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider v-if="index + 1 < targetNodes.length" :key="`divider-${index}`"></v-divider>
            </template>
          </v-list>
        </v-flex>

      </v-layout>

    </v-dialog>

  </div>
    </v-app>
</template>

<script>
import 'vuetify/dist/vuetify.min.css'

import { SemipolarSpinner } from 'epic-spinners'
import axios from 'axios'
import NetworkView from './components/NetworkView.vue'
import FiltersEditor from './components/FiltersEditor.vue'
import StateManager from './components/StateManager.vue'
import VueFuse from 'vue-fuse'
import EventBus from './event-bus.js'

export default {
  name: 'app',
  components: {
    SemipolarSpinner,
    NetworkView,
    FiltersEditor,
    StateManager,
    VueFuse
  },
  data () {
    return {
      isLoaded: false,
      nodes: [],
      links: [],
      filters: null,
      data: {},
      height: 0,
      width: 0,
      searchDialog: false,
      searchString: '',
      searchOptions: {},
      result: [],
      searchNode: null,
      sourceNodes: [],
      targetNodes: []
    }
  },
  watch: {
    searchString (val) {
      let vm = this
      vm.$search(val, vm.nodes, vm.searchOptions).then(result => {
        vm.result = result
      })
    },
    searchNode (val) {
      let vm = this
      vm.sourceNodes = []
      vm.targetNodes = []

      for (let link of vm.links) {
        if (val === link.source && vm.targetNodes.indexOf(link.target) < 0) {
          vm.targetNodes.push(link.target)
        }
        if (val === link.target && vm.sourceNodes.indexOf(link.source) < 0) {
          vm.sourceNodes.push(link.source)
        }
      }
    }
  },
  mounted () {
    let vm = this

    EventBus.$on('filterChanged', function (payload) {
      vm.filters = payload
      vm.updateData(payload)
    })

    EventBus.$on('dataChanged', function (payload) {
      vm.updateData(vm.filters)
    })

    EventBus.$on('selectedNodesLoaded', function (selectNodeIds) {
      vm.data.selectedNodes = []
      for (let selectNodeId of selectNodeIds) {
        for (let node of vm.nodes) {
          if (node.id === selectNodeId) {
            vm.data.selectedNodes.push(node)
            break
          }
        }
      }
      vm.$nextTick(() => {
        vm.updateData(vm.filters)
      })
    })

    vm.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth
    vm.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight

    let headers = {
      headers: {
        'x-api-key': 'fpuvEfZ7ai7gc9DQeshoNRhz4UypfwG9JaS5pjp5'
      }
    }

    axios.all([
      // axios.get('https://8e3cmkkrek.execute-api.eu-west-3.amazonaws.com/prod/network/nodes', headers),
      // axios.get('https://8e3cmkkrek.execute-api.eu-west-3.amazonaws.com/prod/network/links', headers)
      axios.get('nodes.json', headers),
      axios.get('links.json', headers)
    ]).then(axios.spread(function (nodesRes, linksRes) {
      vm.nodes = nodesRes.data
      vm.links = linksRes.data
      // rename fields (cible -> target)
      // vm.links.forEach(function (link) {
      //   link.target = link.cible
      //   delete link.cible
      // })

      // sort links by source, then target
      vm.links.sort(function (a, b) {
        if (a.source > b.source) {
          return 1
        } else if (a.source < b.source) {
          return -1
        } else {
          if (a.target > b.target) {
            return 1
          }
          if (a.target < b.target) {
            return -1
          } else {
            return 0
          }
        }
      })

      // add referents to nodes
      vm.links.forEach(function (l) {
        vm.nodes.forEach(function (n) {
          if (n.id === l.target) {
            if (!n.refs) {
              n.refs = []
            }
            if (l.referent && l.referent !== '') {
              n.refs.push(l.referent)
            }
          }
        })
      })

      // any links with duplicate source and target get an incremented 'linknum'
      for (var i = 0; i < vm.links.length; i++) {
        if (i !== 0 &&
          vm.links[i].source === vm.links[i - 1].source &&
          vm.links[i].target === vm.links[i - 1].target) {
          vm.links[i].id = vm.links[i - 1].id + 1
        } else {
          vm.links[i].id = 1
        }
      }

      let weights = {}
      vm.links.forEach(function (link) {
        weights[link.source] = weights[link.source] ? weights[link.source] + 1 : 1
        weights[link.target] = weights[link.target] ? weights[link.target] + 1 : 1
      })
      vm.nodes.forEach(function (node) {
        node.weight = weights[node.id]
      })

      vm.updateData()
      vm.isLoaded = true
    }))
    // - Search

    vm.searchOptions = {
      shouldSort: true,
      threshold: 0.6,
      location: 0,
      distance: 100,
      maxPatternLength: 32,
      minMatchCharLength: 1,
      keys: [
        'nom',
        'type'
      ]
    }
    window.addEventListener('keyup', vm.listenToStartSearch)
  },
  methods: {
    updateData (filters) {
      let vm = this

      let filteredNodes = vm.data.nodes
      let filteredLinks = vm.data.links

      filteredLinks = []
      filteredNodes = []
      let nodeIds = []
      for (let link of vm.links) {
        if (!filters || (filters.links[link.type] &&
          ((!filters.nodes.selected && !filters.nodes.linked) ||
          (filters.nodes.selected && vm.data.selectedNodes.indexOf(link.source) >= 0 && vm.data.selectedNodes.indexOf(link.target) >= 0) ||
          (!filters.nodes.selected && filters.nodes.linked && (vm.data.selectedNodes.indexOf(link.source) >= 0 || vm.data.selectedNodes.indexOf(link.target) >= 0))))
        ) {
          filteredLinks.push(link)
          nodeIds.push(typeof link.source === 'object' ? link.source.id : link.source)
          nodeIds.push(typeof link.target === 'object' ? link.target.id : link.target)
        }
      }
      for (let node of vm.nodes) {
        if (!filters || filters.nodes.all || ((!filters.nodes.selected && nodeIds.indexOf(node.id) >= 0) || (filters.nodes.selected && vm.data.selectedNodes.indexOf(node) >= 0))) {
          filteredNodes.push(node)
          if (node.fixed) {
            node.fx = node.x
            node.fy = node.y
          }
        }
      }

      vm.data = { nodes: filteredNodes, links: filteredLinks, selectedNodes: vm.data.selectedNodes || [], groups: filters != null ? filters.groups : null }
    },
    listenToStartSearch (event) {
      if (event.srcElement.nodeName !== 'INPUT' && event.code === 'Space') {
        this.searchDialog = !this.searchDialog
        this.searchString = ''
        this.searchNode = null
        if (this.searchDialog) {
          this.$nextTick(this.$refs.txt.focus)
        }
      }
    },
    isSelected (val) {
      let vm = this
      if (vm.data && vm.data.selectedNodes) {
        for (let n of vm.data.selectedNodes) {
          if (val === n.nom) {
            return true
          }
        }
      }
      return false
    },
    changeNodeSelection (d) {
      let vm = this
      if (vm.data.selectedNodes.indexOf(d) >= 0) {
        vm.data.selectedNodes.splice(vm.data.selectedNodes.indexOf(d), 1)
      } else {
        vm.data.selectedNodes.push(d)
      }
      EventBus.$emit('dataChanged')
    },
    setSearchNode (node) {
      let vm = this
      if (vm.searchNode && vm.searchNode === node) {
        vm.searchNode = null
      } else {
        vm.searchNode = node
        vm.searchString = node.nom
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  #spinner {
      height: 800px;
      margin-left: -100px;
      .spinner-title {
        margin-left: -50px;
        font-weight: 100;
      }
  }

  .v-dialog {
    position: absolute;
    top: 40px;
  }
</style>

<style lang="scss">
   @import 'assets/main.scss';

  .v-dialog.v-dialog--active {
    overflow-y: hidden;
  }

  .searchDialog {
    opacity: 0.8;
    border-radius: 6px;

    .v-card__title {
    &.source, &.target {
      font-size: 16px;
      padding: 4px 24px;
      border-bottom: 1px solid #b1b1b1;
      font-weight: 200;
    }
    &.headline {
      padding-bottom: 0;
    }
  }

  .sourceResults, .targetResults {
    max-height: 884px !important;
    background-color: #dadada !important;
    .v-list {
      // overflow-y: scroll;
      background-color: #dadada !important;
    }
  }
    .searchResult, .sourceResults, .targetResults {
      background-color: white;
      width: 500px;
      max-height: 800px;
      overflow-y: auto;
      .v-list--two-line {
        div.selected {
          background-color: #4b88ad;
          color: white !important;
          svg {
            color: white !important;
          }
        }
        .v-list__tile {
          height: 54px;
          font-size: 14px;
          .v-list__tile__sub-title {
            font-size: 12px;
          }

          span.role, span.type {
            margin-left: 5px;
            margin-right: 5px;
            padding: 1px 3px;
            border-radius: 4px;
            color: white;
            font-size: 11px;
            &.role.intermediaire {
              background-color: #7bb0e8;
            }
            &.role.producteur {
              background-color: #66c366;
            }
            &.role.centre.de.competences {
              background-color: #d47cd4;
            }
            &.role.souscripteur, &.utilisateur {
              background-color: #afaf5f;
            }
            &.type.referent {
              background-color: #cece30;
            }
            &.type.externe {
              background-color: #b3b4bb;
            }
            &.type.direction {
              background-color: #95b0d4;
            }
            &.type.filiale {
              background-color: #4ec0f9;
            }
            &.type.departement, &.type.groupe {
              background-color: #25b0dc;
            }
          }
          .selectNode {
            svg.selected {
              color: #0062ad;
            }
            svg.notSelected {
              color: #c3c3c3;
            }
            svg:hover {
              color: red !important;
            }
          }
        }
        .v-divider {
          margin: 0;
          border-color: rgba(0, 0, 0, 0.07);
        }
      }
    }
  }
</style>
